@use gettext::Catalog;
@use gettext_macros::i18n;

@use crate::templates::widgets::icon;

@(catalog: &Catalog)

<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
        <a href="termsofservice.html" class="footer_box">@i18n!(catalog, "Terms of Service")</a>
        <span class="vertical-line"/>
        <span class="footer-box">@i18n!(catalog, "Copyright 2018")</span>
        <span class="vertical-line" />
        <a href="https://github.com/BanjoFox/aardwolf" class="footer-box">@i18n!(catalog, "Check us out on GitHub!") @:icon("github")</a>
        <span class="vertical-line" />
        <a href="https://www.patreon.com/banjofox" class="footer-box">@i18n!(catalog, "Buy the team a coffee") @:icon("coffee")</a>		
    </div>
  </div>
</footer>
