@use crate::{
	home::Home,
	templates::{base, home::{feed, nav_top}, posts::{new_post}, asides::{shortcuts}}
};

@(home: &Home)

@:base(home.catalog, "Aardwolf | Home", {
    @:nav_top(&home.nav_top)
	<div class="columns is-mobile"><!-- Column Content Container -->
	  <div class="left-column columns is-3"><!-- Left-column (Nav) -->

		<!-- Left-hand Nav Menu -->
		@:shortcuts(&home.shortcuts)

	  </div><!-- /Left-column (Nav)-->
	  <div class="right-column columns"><!-- Right-column (Main content) -->
		<section class="section"><!-- Right-column Section -->

		<!-- Right-hand Body Content -->
		@:new_post(&home.new_post)
		@:feed(&home.feed)

		</section><!-- /Right-column Section -->
	  </div><!-- /Right-column -->
	</div><!-- /Column Content Container -->
})



