@use crate::{Home, templates::{base, home::{feed, home_nav_top}, new_post, aside_shortcuts}};

@(home: &Home)

@:base(home.catalog, "Aardwolf | Home", {
    @:nav(home.catalog)
	<div class="columns is-mobile"><!-- Column Content Container -->
	  <div class="left-column columns is-3"><!-- Left-column (Nav) -->

		<!-- Left-hand Nav Menu -->
		@:shortcuts(&home.shortcuts)

	  </div><!-- /Left-column (Nav)-->
	  <div class="right-column columns"><!-- Right-column (Main content) -->
		<section class="section"><!-- Right-column Section -->

		<!-- Right-hand Body Content -->
		@:new_post(home.catalog, &home.shortcuts.username, &home.new_post)
		@:feed(home.catalog)

		</section><!-- /Right-column Section -->
	  </div><!-- /Right-column -->
	</div><!-- /Column Content Container -->
})



