@use gettext::Catalog;
@use gettext_macros::i18n;

@(catalog: &Catalog)

<aside class="menu">
  <p class="menu-label">
    <a>@:icon("chevron-left")@i18n!(catalog, "Go back")</a>
  </p>
  <p class="menu-label">
    <span>@:icon("gears")@i18n!(catalog, "Settings")
  </p>
  <ul class="menu-list">
    <li><a>@:icon("user")@i18n!(catalog, "Edit Profile")</a></li>
    <li><a>@:icon("sliders")@i18n!(catalog, "Preferences")</a></li>
    <li><a>@:icon("volume-off")@i18n!(catalog, "Muted Keywords")</a></li>
    <li><a>@:icon("volume-off")@i18n!(catalog, "Muted Users")</a></li>
    <li><a>@:icon("bell")@i18n!(catalog, "Notifications")</a></li>
    <li><a>@:icon("lok")@i18n!(catalog, "Security")</a></li>
    <li><a>@:icon("cloud-upload")@i18n!(catalog, "Data Import")</a></li>
    <li><a>@:icon("cloud-download")@i18n!(catalog, "Data Export")</a></li>
    <li><a>@:icon("list")@i18n!(catalog, "Authorized Apps")</a></li>
    <li><a>@:icon("users")@i18n!(catalog, "Authorized Followers")</a></li>
  </ul>
  <p class="menu-label">
    @:icon("logout")<a>@i18n!(catalog, "Invite People")</a>
  </p>
  <p class="menu-label">
    @:icon("logout")<a>@i18n!(catalog, "Logout")</a>
  </p>
</aside>
