@use gettext::Catalog;
@use gettext_macros::i18n;

@use crate::{NewPost, templates::widgets::{alert, select_input, text_input, textarea_input}};

@(catalog: &Catalog, username: &str, new_post: &NewPost)

<article class="media"><!-- Begin new post -->
    <figure class="media-left">
        <p class="image is-64x64">
        <img src="https://bulma.io/images/placeholders/128x128.png" alt="@username">
        </p>
    </figure>
    <div class="media-content">
        <form method="POST" action="/posts/create">
            @if let Some(ref a) = new_post.alert {
                @:alert(a)
            }
            <input type="hidden" name="csrf_token" value="@new_post.csrf">
            @:textarea_input(&new_post.source)
            @:select_input(&new_post.visibility)
            @:text_input(&new_post.name)
            <button>@i18n!(catalog, "Awoo!")</button>
        </form>
    </div>
</article><!-- End of new post -->
