/** NOTIFICATION STYLES**/
.no-notifs {
    display: flex;
    justify-content: center;
    font-size: 1.2em;
}
.notificationComponent {
    background: #ffffff;
    position: absolute;
    top: 61px;
}
.notif-container {
    border: 1px solid #410941;
    width: 500px;
    height: 250px;
    overflow-y: scroll;
}
.notif {
    border-top: 1px solid rgba(169, 169, 169, .35);
    min-height: 40px;
    padding: 10px;
}
.click-me {
    background: lightgrey;
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    max-width: 150px;
    text-align: center;
    border: 1px solid #0d0d0d;
    padding: 6px;
    cursor: pointer;
    border-radius: 3px;
}
.notif:first-child {
    border-top: none;
}
.notif:last-child {
    border-bottom: none;
    margin: auto auto 0 auto;
}
.user-icon {
    display: inline;
    margin: auto 20px auto auto;
}
.user-icon img {
    border-radius: 28px;
}
.show-more span:last-child {
    cursor: pointer;
}
.notif-cont-header {
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.notif-subject {
    font-weight: bold;
}
.notif-content {
    display: inline-block;
    margin: 0 0 0 20px;
    width: inherit;
}