<!DOCTYPE html>
<html>

<!-- ********************** -->
<!-- Included for DEMO ONLY -->
<!-- ********************** -->
<script src="../web/javascript/vue.2.5.20.min.js"></script>
<script src="../web/javascript/components/notificationBox.js"></script>
<script>
  new Vue({
    el: "#app",
    data: {
      showNotificationBox: false
    },
    methods: {
      toggleNotifCompView: function() {
        console.log('calling tNCV');
        this.showNotificationBox = !this.showNotificationBox;
      }
    }
  })
</script>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Aardwolf Social | Homepage Demo</title>
  <link rel="stylesheet" href="../web/css/fork-awesome-1.1.7/css/fork-awesome.min.css">
  <link rel="stylesheet" href="../web/css/bulma-0.7.5/css/bulma.min.css">
  <link rel="stylesheet" href="../web/css/base.css">
  <link rel="stylesheet" href="../web/css/scratchpad.css">
  <!-- Component styles -->
  <link rel="stylesheet" href="../web/css/components/notificationBox.css">
</head>
<!-- ********************** -->
<!-- /Included for DEMO ONLY -->
<!-- ********************** -->

<body>

<!-- ********************** -->
<!-- Logged in Top Nav Menu -->
<!-- ********************** -->

<div class="columns is-mobile"><!-- Column Content Container -->
  <div class="left-column columns is-3"><!-- Left-column (Nav) -->

	<!-- ****************** -->
	<!-- Left-hand Nav Menu -->
	<!-- ****************** -->

  </div><!-- /Left-column (Nav)-->
  <div class="right-column columns"><!-- Right-column (Main content) -->
    <section class="section"><!-- Right-column Section -->

	<p>Hey check it out!  There is a Calendar with date/time pickers on <a href="https://creativebulma.net">Creative Bulma</a>!!<br />
	   <a href="https://creativebulma.net/product/calendar">https://creativebulma.net/product/calendar</a>
  
    </section><!-- /Right-column Section -->
  </div><!-- /Right-column -->
</div><!-- /Column Content Container -->

</body>

	<!-- ************** -->
	<!-- Footer Content -->
	<!-- ************** -->

</html>
