<!-- ########################## /DEMO PURPOSES ONLY ########################## -->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Aardwolf Social | Homepage Demo</title>
  <link rel="stylesheet" href="../../web/css/fork-awesome-1.1.7/css/fork-awesome.min.css">
  <link rel="stylesheet" href="../../web/css/bulma-0.7.5/css/bulma.min.css">
  <link rel="stylesheet" href="../../web/css/base.css">
  <link rel="stylesheet" href="../../web/css/scratchpad.css">
  <!-- Component styles -->
  <link rel="stylesheet" href="../../web/css/components/notificationBox.css">
</head>
<!-- ########################## /DEMO PURPOSES ONLY ########################## -->

<section class="section">
    <div class="container">

        <!-- Begin Profile Section -->
        <div class="container">

            <h2 class="title is-2">{{ "Preferences" | _ }}</h2>

            <hr />

            <!-- ****************** -->
            <!-- Level Jump To Menu -->
            <!-- ****************** -->

            <nav class="level">
                <p class="level-item has-text-centered">
                    <strong>{{ "Jump To:" | _ }}</strong>
                </p>
                <p class="level-item has-text-centered">
                    <a class="link is-info">{{ "LANGUAGE" | _ }}</a>
                </p>
                <p class="level-item has-text-centered">
                    <a class="link is-info">{{ "POST PRIVACY" | _}}</a>
                </p>
                <p class="level-item has-text-centered">
                    <a class="link is-info">{{ "SEARCH PRIVACY" | _}}</a>
                </p>
                <p class="level-item has-text-centered">
                    <a class="link is-info">{{ "INTERFACE" | _}}</a>
                </p>
            </nav>
        </div>
        <!-- ****************** -->
        <!-- END Level Jump To Menu -->
        <!-- ****************** -->

        <hr />

        <!-- ***************** -->
        <!-- Language Dropdown -->
        <!-- ***************** -->
        <div class="container">

            <nav class="level">
                <p class="level-item has-text-left">
                    <strong>{{ "LANGUAGE" | _ }}</strong>
                </p>
                <p class="level-item has-text-right">
                    <a class="is-right" href="#">Top</a>
                </p>
            </nav>

            <div class="columns is-mobile">
                <div class="column">

                    <!-- ************************************ -->
                    <!-- widgets/lang_dropdown.html -->
                    <!-- ************************************ -->
                    <div class="field">
                        <label class="label">Interface Language</label>
                        <div class="dropdown">
                            <div class="dropdown-trigger">
                                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                                    <span>{{ "Language" | _ }}</span>
                                    <span class="icon is-small">
                                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                                    </span>
                                </button>
                            </div>
                            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                <div class="dropdown-content">
                                    <a href="#" class="dropdown-item">
                                        English
                                        <!-- (Top item should be default from aardwolf.toml) -->
                                    </a>
                                    <a href="#" class="dropdown-item">
                                        Japanese
                                    </a>
                                    <a class="dropdown-item">
                                        Parcel Tongue
                                    </a>
                                    <a class="dropdown-item">
                                        Polish
                                    </a>
                                    <a href="#" class="dropdown-item">
                                        Redneck
                                    </a>
                                    <a href="#" class="dropdown-item">
                                        Urdu
                                    </a>
                                </div>
                            </div>
                        </div><!-- END Dropdown selections -->
                        <p class="help">The language of the user interface, e-mails, and push notifications</p>
                    </div><!-- END Field -->
                    <!-- ************************************ -->
                    <!-- END widgets/lang_dropdown.html -->
                    <!-- ************************************ -->
                </div>
                <div class="column">
                    <strong>Posting Language</strong>
                    <br />
                    <!-- ************************************ -->
                    <!-- widgets/lang_dropdown.html -->
                    <!-- ************************************ -->
                    <div class="dropdown">
                        <div class="dropdown-trigger">
                            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                                <span>{{ "Language" | _ }}</span>
                                <span class="icon is-small">
                                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                                </span>
                            </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu" role="menu">
                            <div class="dropdown-content">
                                <a href="#" class="dropdown-item">
                                    English
                                    <!-- (Top item should be default from aardwolf.toml) -->
                                </a>
                                <a href="#" class="dropdown-item">
                                    Japanese
                                </a>
                                <a class="dropdown-item">
                                    Parcel Tongue
                                </a>
                                <a class="dropdown-item">
                                    Polish
                                </a>
                                <a href="#" class="dropdown-item">
                                    Redneck
                                </a>
                                <a href="#" class="dropdown-item">
                                    Urdu
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- ************************************ -->
                    <!-- END widgets/lang_interface_dropdown.html -->
                    <!-- ************************************ -->
                    <p class="help">The language your posts will be listed as.</p>
                </div>
            </div>
            <!-- ********************* -->
            <!-- END Language Dropdown -->
            <!-- ********************* -->

            <!-- ************** -->
            <!-- Language Fiter -->
            <!-- ************** -->
            <div class="columns">
                <div class="column">
                    <div class="field">
                        <div class="control">
                            <label class="checkbox">
                                <input type="checkbox">
                                01001110
                            </label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <label class="checkbox">
                                <input type="checkbox">
                                Awoo
                            </label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <label class="checkbox">
                                <input type="checkbox">
                                Chinese
                            </label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <label class="checkbox">
                                <input type="checkbox">
                                Dog
                            </label>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <div class="control">
                            <label class="checkbox">
                                <input type="checkbox">
                                English
                            </label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <label class="checkbox">
                                <input type="checkbox">
                                Ftagn
                            </label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <label class="checkbox">
                                <input type="checkbox">
                                Japanese
                            </label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <label class="checkbox">
                                <input type="checkbox">
                                Kobold
                            </label>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <div class="control">
                            <label class="checkbox">
                                <input type="checkbox">
                                Parcel Tongue
                            </label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <label class="checkbox">
                                <input type="checkbox">
                                Polish
                            </label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <label class="checkbox">
                                <input type="checkbox">
                                Redneck
                            </label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <label class="checkbox">
                                <input type="checkbox">
                                Urdu
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ****************** -->
        <!-- END Language Fiter -->
        <!-- ****************** -->

        <hr />

        <!-- ************ -->
        <!-- Post Privacy -->
        <!-- ************ -->
        <div class="container">
            <nav class="level">
                <p class="level-item has-text-left">
                    <strong>{{ "POST PRIVACY" | _ }}</strong>
                </p>
                <p class="level-item has-text-right">
                    <a class="is-right" href="#">Top</a>
                </p>
            </nav>


            <div class="control columns">
                <div class="column">
                    <div class="field">
                        <p class="control">
                            <label class="radio">
                                <input type="radio" name="post_privacy" checked>
                                Followers Only
                                <p class="help">Only followers can see</p>
                            </label>
                        </p>
                        <p class="control">
                            <label class="radio">
                                <input type="radio" name="post_privacy">
                                Public
                                <span class="help">Everyone can see</span>
                            </label>
                        </p>
                        <p class="control">
                            <label class="radio">
                                <input type="radio" name="post_privacy">
                                Unlisted
                                <span class="help">Not listed in public timelines
                                    <br />
                                    Everyone can see</span>
                            </label>
                        </p>
                    </div><!-- END Field group -->
                </div>
                <div class="column">
                    <div class="field">
                        <p class="control">
                            <label class="radio">
                                <input type="radio" name="post_privacy">
                                Journaling
                                <span class="help">Posts are visible by invitation only</span>
                            </label>
                        </p>
                        <p class="control">
                            <label class="radio">
                                <input type="radio" name="post_privacy">
                                Private
                                <span class="help">Only you can see</span>
                            </label>
                        </p>
                        <p class="control">
                            <label class="checkbox">
                                <input type="checkbox" name="post_privacy">
                                Always mark media as sensitive
                            </label>
                        </p>
                    </div><!-- END Field group -->
                </div>
            </div>
        </div>

        <!-- ************ -->
        <!-- Post Privacy -->
        <!-- ************ -->

        <hr />

        <div class="container">
            <!-- Search Privacy Container -->
            <nav class="level">
                <p class="level-item has-text-left">
                    <strong>{{ "SEARCH PRIVACY" | _ }}</strong>
                </p>
                <p class="level-item has-text-right">
                    <a class="is-right" href="#">Top</a>
                </p>
            </nav>

            <!-- *************** -->
            <!-- Profile Privacy -->
            <!-- *************** -->
            <div class="field is-horizontal">
                <div class="field-label">
                    <label class="label">Privacy</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <label class="radio">
                                <input type="radio" name="search_profile">
                                Public
                                <span class="help">Everyone can see</span>
                            </label>
                            <label class="radio">
                                <input type="radio" name="search_profile" checked>
                                Local-Only
                                <span class="help">Visible to local users</span>
                            </label>
                            <label class="radio">
                                <input type="radio" name="search_profile">
                                Private
                                <span class="help">Not searchable anywhere</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ******************* -->
            <!-- END Profile Privacy -->
            <!-- ******************* -->

            <!-- ************** -->
            <!-- Events Privacy -->
            <!-- ************** -->
            <div class="field is-horizontal">
                <div class="field-label">
                    <label class="label">Events</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <label class="radio">
                                <input type="radio" name="search_events">
                                Public
                                <span class="help">Everyone can see</span>
                            </label>
                            <label class="radio">
                                <input type="radio" name="search_events" checked>
                                Local-Only
                                <span class="help">Visible to local users</span>
                            </label>
                            <label class="radio">
                                <input type="radio" name="search_events">
                                Private
                                <span class="help">Not searchable anywhere</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ****************** -->
            <!-- END Events Privacy -->
            <!-- ****************** -->

            <!-- ************** -->
            <!-- Groups Privacy -->
            <!-- ************** -->
            <div class="field is-horizontal">
                <div class="field-label">
                    <label class="label">Groups</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <label class="radio">
                                <input type="radio" name="search_groups">
                                Public
                                <span class="help">Everyone can see</span>
                            </label>
                            <label class="radio">
                                <input type="radio" name="search_groups" checked>
                                Local-Only
                                <span class="help">Visible to local users</span>
                            </label>
                            <label class="radio">
                                <input type="radio" name="search_groups">
                                Private
                                <span class="help">Not searchable anywhere</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ****************** -->
            <!-- END Groups Privacy -->
            <!-- ****************** -->

            <!-- ************** -->
            <!-- Tags Privacy -->
            <!-- ************** -->
            <div class="field is-horizontal">
                <div class="field-label">
                    <label class="label">Tags</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <label class="radio">
                                <input type="radio" name="search_tags">
                                Public
                                <span class="help">Everyone can see</span>
                            </label>
                            <label class="radio">
                                <input type="radio" name="search_tags" checked>
                                Local-Only
                                <span class="help">Visible to local users</span>
                            </label>
                            <label class="radio">
                                <input type="radio" name="search_tags">
                                Private
                                <span class="help">Not searchable anywhere</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- **************** -->
            <!-- END Tags Privacy -->
            <!-- **************** -->
        </div><!-- END Search Privacy Container -->

        <hr />

        <div class="container">
            <!--  Interface Preferences -->
            <nav class="level">
                <p class="level-item has-text-left">
                    <strong>{{ "INTERFACE" | _ }}</strong>
                </p>
                <p class="level-item has-text-right">
                    <a class="is-right" href="#">Top</a>
                </p>
            </nav>
            <div class="columns is-mobile">
                <div class="column">
                    <!-- ************************************ -->
                    <!-- widgets/lang_dropdown.html -->
                    <!-- ************************************ -->
                    <div class="field">
                        <label class="label">Site Theme</label>
                        <div class="dropdown">
                            <div class="dropdown-trigger">
                                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                                    <span>{{ "Language" | _ }}</span>
                                    <span class="icon is-small">
                                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                                    </span>
                                </button>
                            </div>
                            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                <div class="dropdown-content">
                                    <a href="#" class="dropdown-item">
                                        English
                                        <!-- (Top item should be default from aardwolf.toml) -->
                                    </a>
                                    <a href="#" class="dropdown-item">
                                        Japanese
                                    </a>
                                    <a class="dropdown-item">
                                        Parcel Tongue
                                    </a>
                                    <a class="dropdown-item">
                                        Polish
                                    </a>
                                    <a href="#" class="dropdown-item">
                                        Redneck
                                    </a>
                                    <a href="#" class="dropdown-item">
                                        Urdu
                                    </a>
                                </div>
                            </div>
                        </div><!-- END Dropdown selections -->
                    </div><!-- END Field -->
                    <!-- ************************************ -->
                    <!-- END widgets/lang_dropdown.html -->
                    <!-- ************************************ -->
                </div><!-- END Interface Preference left column -->
                <div class="column">
                    <!-- ************************************ -->
                    <!-- widgets/lang_dropdown.html -->
                    <!-- ************************************ -->
                    <div class="field">
                        <label class="label">Site Theme</label>
                        <div class="dropdown">
                            <div class="dropdown-trigger">
                                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                                    <span>{{ "Language" | _ }}</span>
                                    <span class="icon is-small">
                                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                                    </span>
                                </button>
                            </div>
                            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                <div class="dropdown-content">
                                    <a href="#" class="dropdown-item">
                                        English
                                        <!-- (Top item should be default from aardwolf.toml) -->
                                    </a>
                                    <a href="#" class="dropdown-item">
                                        Japanese
                                    </a>
                                    <a class="dropdown-item">
                                        Parcel Tongue
                                    </a>
                                    <a class="dropdown-item">
                                        Polish
                                    </a>
                                    <a href="#" class="dropdown-item">
                                        Redneck
                                    </a>
                                    <a href="#" class="dropdown-item">
                                        Urdu
                                    </a>
                                </div>
                            </div>
                        </div><!-- END Dropdown selections -->
                    </div><!-- END Field -->
                    <!-- ************************************ -->
                    <!-- END widgets/lang_dropdown.html -->
                    <!-- ************************************ -->

                </div><!-- END Interface Preference right column -->
            </div><!-- END Interface Preference Columns -->

            <!-- ******************** -->
            <!-- Interface checkboxes -->
            <!-- ******************** -->
            <div class="field">
                <div class="control">
                    <label class="checkbox">
                        <input type="checkbox">
                        Show confirmation dialog before unfollowing someone
                    </label>
                </div>
                <div class="control">
                    <label class="checkbox">
                        <input type="checkbox">
                        Show confirmation dialog before boosting
                    </label>
                </div>
                <div class="control">
                    <label class="checkbox">
                        <input type="checkbox">
                        Show confirmation dialog before deleting a post
                    </label>
                </div>
                <div class="control">
                    <label class="checkbox">
                        <input type="checkbox">
                        Auto-play animated GIFs
                    </label>
                </div>
                <div class="control">
                    <label class="checkbox">
                        <input type="checkbox">
                        Always auto-expand posts marked with content warnings 
                    </label>
                </div>
                <div class="control">
                    <label class="checkbox">
                        <input type="checkbox">
                        Reduce motion in animations
                    </label>
                </div>
                <div class="control">
                    <label class="checkbox">
                        <input type="checkbox">
                        Use system's default font
                    </label>
                </div>
            </div>
            <!-- ************************ -->
            <!-- END Interface checkboxes -->
            <!-- ************************ -->

        </div><!-- END Interface Preferences -->

    </div>
    <!- END primary container -->
</section>
<!- END primary section -->
<!-- End Profile Section -->
