<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EHRMAGERD -- {{error_code}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
  </head>
  <body>
  <section class="section">
    <div class="container has-text-centered">
      <h1 class="title">
        <strong>!! ERHMAGERD !!</strong>
      </h1>
      <h2>{{error_code}}</h2>
      <br />
      <p class="subtitle">
        Something has gone <strong class="tag is-danger">horribly wrong</strong>
      </p>
      <figure>
        <img src="../images/aardwolf-error.jpg" width="256" height="256"alt="Error">
      </figure>
    </div>
  </section>
  </body>
</html>
