/* Flaired edges, by Tomas Theunissen */
hr.style-seven {
    overflow: visible; /* For IE */
    height: 20px;
	  width: 45%;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 10px;
}
hr.style-seven:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 20px;
    margin-top: -21px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 10px;
}
