    body {
	  color: #222;
	  background-color: #f0ebe2;
	  border-top: 10px solid #3f1906;	  
    }
		
    .navbar {
	  color: #3f1906;
	  background-color: #f0ebe2;
	  border-bottom: 5px solid #008b82;
    }
    .columns:not(:last-child) {
      margin: 0 auto 0 auto;
    }
    .left-column {
      border-left: 1px solid #008b82;
      border-right: 1px solid #008b82;
      background: #f0ebe2;
      padding: 0 11em 0 1em;
    }
    .right-column {
      margin: 0 2em 2em 2em;
    }
    .user-nav {
      background-color: #CFDDF5;
      border-bottom: 1px solid #1e1c11;
      padding: .45em;
    }
    .posts {
      margin: 0 2em 2em 2em;
    }
    .sidebar-menu {
      margin: 0 -11em auto auto;
      padding: 3em 2.5em 0 0;
    }
    .search-bar {
      padding: 0 0 .8em 0;
    }
	.show-on-hover:hover > ul.dropdown-menu {
      display: block;    
	}
	.verticalLine {
	  border-left: 2px solid #000;
	}
    .footer {
      padding: 2rem 1rem 1.5rem 1rem;
      border-top: 1px solid #1e1c11;
    }