@use crate::{InputPassword, templates::elements::input};

@(input_password: &InputPassword)

@:input(&input_password.into())


<!-- Reusable Password Input -->
<div class="field">
	<label class="label">@i18n!(catalog, "Password")</label>
	<div class="control has-icons-left">
		<input class="input" type="password" placeholder="*************" required>
		<span class=icon is-small is-left>
			<span class="fa fa-lock"></span>
		</span>
	</div>
</div>
<!-- End Reusable Password Input -->
