@use crate::{InputCheckbox, templates::elements::icon};

@(input: &InputCheckbox)

<div class="aardwolf-input-wrapper">
    <label for="@input.name">
        @if let Some(ref i) = input.icon {
            @:icon(i)
        }
        @input.label
    </label>
    <div class="aardwolf-input aardwolf-checkbox-input">
        @if input.checked {
            <input type="checkbox" name="@input.name" value="true" checked />
        } else {
            <input type="checkbox" name="@input.name" value="true" />
        }
    </div>
    <div class="aardwolf-input-meta">
        @if let Some(ref error) = input.error {
            <span class="aardwolf-input-error">@error</span>
        }
    </div>
</div>
