@use gettext_macros::i18n;

@use crate::{NotificationContent, templates::{base, elements::{alert, notification_content}}};

@(notification_dropdown: &NotificationDropdown)

<!-- Top Nav Notifications Dropdown -->
<div class="navbar-item has-dropdown is-hoverable">
	<a class="navbar-link">@i18n!(catalog, "Notifications")</a>
	<div class="navbar-dropdown notifications-dropdown">

		<!-- ************************************************* -->
		<!-- A little element to signify no new notifications. -->
		<!-- Commented out to meet wireframe criteria.         -->
		<!-- ************************************************* -->
		<!--
		<div class="box no-recent-activity">
			No recent activity
		</div>
		-->

		<!-- Begin Sample notifications -->
		<div class="box">
			<article class="media">
				<div class="media-left">
					<figure class="image is-64x64">
						<img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
					</figure>
				</div>
				<div class="media-content">
					<div class="content">
						<p><strong>Juan Quixote</strong> <a href="#link-to-user-account">@the_don</a></p>
						<p class="action">@i18n!(catalog, "Accepted your Friend Request")</p>
						<hr/>
						<p class="notification-date"><small><time datetime="2016-1-1">13:11 PM - 2 Jan 2016</time></small></p>
					</div>
				</div>
			</article>
		</div>

		<div class="box">
			<article class="media">
				<div class="media-left">
					<figure class="image is-64x64">
						<img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
					</figure>
				</div>
				<div class="media-content">
					<div class="content">
						<p><strong>John Smith</strong> <a href="#link-to-user-account">@mrsmith</a></p>
						<p class="action">Favorited <a href="#your-post">your post</a>!</p>
						<hr/>
						<p class="notification-date"><small><time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time></small></p>
					</div>
				</div>
			</article>
		</div>

		<div class="box">
			<article class="media">
				<div class="media-left">
					<figure class="image is-64x64">
						<img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
					</figure>
				</div>
				<div class="media-content">
					<div class="content">
						<p><strong>Alice Marquee</strong> <a href="#link-to-user-account">@amarquis</a></p>
						<p class="action">Accepted your Friend Request!</p>
						<hr/>
						<p class="notification-date"><small><time datetime="2016-1-1">12:34 PM - 1 Jan 2016</time></small></p>
					</div>
				</div>
			</article>
		</div>

		<div class="box">
			<article class="media">
				<div class="media-left">
					<figure class="image is-64x64">
						<img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
					</figure>
				</div>
				<div class="media-content">
					<div class="content">
						<p><strong>Bob Staffers</strong> <a href="#link-to-user-account">@bobsyouruncle</a></p>
						<p class="action">Wants to be your friend.</p>
						<hr/>
						<p class="notification-date"><small><time datetime="2016-1-1">08:40 PM - 27 Dec 2015</time></small></p>
					</div>
				</div>
			</article>
		</div>
		<!-- End Sample notifications -->
	</div>
</div>
