@use gettext_macros::i18n;
@use crate::elements::NotificationContent;

@(notification_content: &NotificationContent)

<div class="box">
  <article class="media">
	<div class="media-left">
	  <figure>
		<img src="../web/images/default_avatar.png" alt="Profile Image" aria-hidden="true">
	  </figure>
	</div>
	<div class="media-content">
	  <div class="content">
		  <!-- Begin Sample Contents -->
		  <strong>John Smith</strong> <small>&commat;aardwolf.social</small>
		  <br />
		  @i18n!(notification_content.catalog, "Favorited your post")
		   <br />
		   <small><time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time></small>
		   <!-- End Sample Contents -->
	  </div>
	</div>
  </article>
</div>
