@use rocket_i18n::i18n;

@use crate::{Alert, AlertKind};

@(alert: Alert)

<div class="aardwolf-alert">
    <div class="aardwolf-alert-meta">
        @if alert.kind == AlertKind::Error {
            @i18n!(alert.catalog, "Error")
        } else {
            @if alert.kind == AlertKind::Warning {
                @i18n!(alert.catalog, "Warning")
            } else {
                @if alert.kind == AlertKind::Info {
                    @i18n!(alert.catalog, "Info")
                }
            }
        }
    </div>
    @i18n!(alert.catalog, alert.message)
</div>
