@use rocket_i18n::i18n;

@use crate::{Input, templates::ui::icon};

@(input: Input)

<div class="aardwolf-input-wrapper">
    <label for="@input.name">
        @if let Some(i) = input.icon {
            @:icon(i)
        }
        @if let Some(label) = input.label {
            @i18n!(input.catalog, label)
        }
    </label>
    <div class="aardwolf-input aardwolf-@input.kind-input">
        @if let Some(placeholder) = input.placeholder {
            <input type="@input.kind" name="@input.name" placeholder="@i18n!(input.catalog, placeholder)" value="@input.value" />
        } else {
            <input type="@input.kind" name="@input.name" value="@input.value" />
        }
    </div>
    <div class="aardwolf-input-meta">
        @if let Some(error) = input.error {
            <span class="aardwolf-input-error">@i18n!(input.catalog, error)</span>
        }
    </div>
</div>
