@use gettext::Catalog;
@use rocket_i18n::i18n;

@(catalog: &Catalog, kind: &str, name: &str, icon: Option<&str>, placeholder: Option<&str>, value: &str, error: Option<String>)

<div class="aardwolf-input-wrapper">
    <div class="aardwolf-input aardwolf-@kind-input">
        @if let Some(icon) = icon {
            <span class="icon icon-@icon"></span>
        }
        @if let Some(placeholder) = placeholder {
            <input type="@kind" name="@name" placeholder="@i18n!(catalog, placeholder)" value="@value" />
        } else {
            <input type="@kind" name="@name" value="@value" />
        }
    </div>
    <div class="aardwolf-input-meta">
        @if let Some(error) = error {
            <span class="aardwolf-input-error">@error</span>
        }
    </div>
</div>
