<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<aside class="menu">
  <p class="menu-label">
    <a class="fa fa-chevron-left"> Back to Aardwolf</a>
  </p>	
  <p class="menu-label">
    <span class="fa fa-gears"> Settings</span>
  </p>
  <ul class="menu-list">
    <li><a class="fa fa-user"> Edit Profile</a></li>
    <li><a class="fa fa-sliders"> Preferences</a></li>
    <li><a class="fa fa-volume-off"> Muted Keywords</a></li>
    <li><a class="fa fa-bell"> Notifications</a></li>
    <li><a class="fa fa-lok"> Security</a></li>
    <li><a class="fa fa-mobile"> Two-Factor Authentication</a></li>
    <li><a class="fa fa-cloud-upload"> Data Import</a></li>
    <li><a class="fa fa-cloud-download"> Data Export</a></li>
    <li><a class="fa fa-list"> Authorized Apps</a></li>
    <li><a class="fa fa-users"> Authorized Followers</a></li>        
  </ul>
  <p class="menu-label">
    <a class="fa fa-user-plus"> Invite People</a>
  </p>
  <p class="menu-label">
    <a class="fa fa-code"> Development</a>
  </p>
  <p class="menu-label">
    <a class="fa fa-logout" {{logout}}> Logout</a>
  </p>
</aside>
