<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ "Aardwolf Instance" | _  }} - {{ "Create Account" | _ }}</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/bulma.min.0.6.2.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/bulma.min.0.6.2.css.map">
		<link rel="stylesheet" type="text/css" href="/stylesheets/scratchpad.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/forkawesome.css">
    {% endblock head %}
</head>
<body>
    <div id="content">{% block content %}{% endblock content %}</div>
	{% block footer %}
	<footer class="footer">
	  <div class="container">
		<div class="content has-text-centered">
			<a href="termsofservice.html" class="footer_box">{{ "Terms of Service" | _ }}</a>
			<span class="vertical_line"/>
			<span class="footer_box">{{ "Copyright 2018" | _ }}</span>
			<span class="vertical_line" />
			<a href="https://github.com/BanjoFox/aardwolf" class="footer_box"> {{ "Check us out on GitHub" | _ }}<i class="fab fa-github"></i>!</a>
			<span class="vertical_line" />
			<a href="https://www.patreon.com/banjofox" class="footer_box">{{ "Buy the team a coffee" | _ }}<span class="fas fa-beer"aria-hidden="true"></span></a>		
		</div>
	  </div>
	</footer>
	{% endblock footer %}
</body>
</html>
