<!DOCTYPE html>
<html>

  {{> htmlHead }}

  <body>

	{{> home_nav_top}}
  
  <section class="section">  
	<!-- Does this need to be in a <div class="container> ?? -->
	<!-- For now I would say no, because making it a container brings it to left-center -->

	{{> aside_shortcuts}}
	
	</section>	
  <section class="section">
    <div class="container">

	{{> new_post}}
	
	{{> home_feed}}
	
    </div><!-- End page body container-->
  </section><!-- End page body -->
  </body>

  {{> home_footer}}
  
</html>
