<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Aardwolf - Main</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
  <!-- This is a hacky CSS that really needs to be fixed/replaced. I'm just putting it here to see if I can improve the styling until proper Bulma implementation -->
  <link rel="stylesheet" media="screen" href="../stylesheets/scratchpad.css">
</head>

<body>

  <nav class="navbar" style="padding-top: 2em; background-color: cadetblue">
    <!-- Top nav -->
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item">
          <img src="https://bulma.io/images/placeholders/128x128.png" alt="Aardwolf">
        </a>
        <span class="navbar-burger burger" data-target="navbar_menu_hero_a">
			<span></span>
        <span></span>
        <span></span>
        </span>
      </div>
      <div class="container" style="position: bottom">
        <!-- I don't think this is really needed for the "Search" bar but it expands to fit LOL -->
        <div class="field is-grouped">
          <p class="control is-expanded">
            <input class="input  is-small" type="text" placeholder="Find a repository">
          </p>
          <p class="control">
            <a class="button is-info is-small">
				  Search
				</a>
          </p>
        </div>
      </div>
      <div id="navbar_menu_hero_a" class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item is-active">
			  Home
			</a>
          <a class="navbar-item">
			  Examples
			</a>
          <a class="navbar-item">
			  Documentation
			</a>
          <span class="navbar-item">
			  <a class="button is-primary is-inverted">
				<span class="icon">
				  <i class="fa fa-github"></i>
				</span>
          <span>Download</span>
          </a>
          </span>
        </div>
      </div>
    </div>
  </nav>

  <div class="columns is-mobile">
    <div class="columns is-3" style="padding-left: 1em; background-color: aliceblue">
      <section class="section">
        <!-- Does this need to be in a <div class="container> ?? -->
        <!-- For now I would say no, because making it a container brings it to left-center -->
        <aside class="menu">
          <a class="fa fa-user-circle-o"> BanjoFox</a>
          <ul class="menu-list">
            <li><a class="fa fa-newspaper-o" aria-hidden="true"> News Feed</a></li>
            <li><a class="fa fa-envelope" aria-hidden="true"> Messages</a></li>
          </ul>
          <p class="menu-label">
            <span class="fa fa-star" aria-hidden="true"> Shortcuts</span>
          </p>
          <ul class="menu-list">
            <li><a class="fa fa-calendar" aria-hidden="true"> Calendar</a></li>
            <li><a class="fa fa-users" aria-hidden="true"> Groups</a></li>
            <li><a class="fa fa-list" aria-hidden="true"> Lists</a></li>
            <li><a class="fa fa-picture-o" aria-hidden="true"> Photos</a></li>
            <li><a class="fa fa-bookmark" aria-hidden="true"> Favorites</a></li>
            <li><a class="fa fa-cloud" aria-hidden="true"> Weather</a></li>
          </ul>
          <p class="menu-label">
            <span class="fa fa-lightbulb-o" aria-hidden="true"> Make Something!</span>
          </p>
          <ul class="menu-list">
            <li><a class="fa fa-calendar-plus-o" aria-hidden="true"> New Event</a></li>
            <li><a class="fa fa-users" aria-hidden="true"> New Group</a></li>
        </aside>
      </section>
    </div>
    <div class="columns">
      <section class="section">
        <div class="container">

          <article class="media">
            <figure class="media-left">
              <p class="image is-64x64">
                <img src="https://bulma.io/images/placeholders/128x128.png" alt="{{user_name}}">
              </p>
            </figure>
            <div class="media-content">
              <div class="field">
                <p class="control">
                  <textarea class="textarea" placeholder="Add a comment..."></textarea>
                </p>
              </div>
              <nav class="level">
                <div class="level-left">
                  <div class="level-item">
                    <a class="button is-info">Submit</a>
                  </div>
                </div>
                <div class="level-right">
                  <div class="level-item">
                    <label class="checkbox">
				<input type="checkbox"> Press enter to submit
			  </label>
                  </div>
                </div>
              </nav>
            </div>
          </article>
          <!-- End of new post -->

          <article class="media">
            <!-- Begin sample conversation -->
            <figure class="media-left">
              <p class="image is-64x64">
                <img src="https://bulma.io/images/placeholders/128x128.png" alt="{{user_name}}">
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>Barbara Middleton</strong>
                  <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta eros lacus, nec ultricies elit blandit non. Suspendisse pellentesque mauris sit amet dolor blandit rutrum. Nunc in tempus turpis.
                  <br>
                  <small><a>Like</a> · <a>Reply</a> · <a>Boost</a> · <i class="fa fa-ellipsis-h" aria-hidden="true"></i> · 3 hrs</small>
                </p>
              </div>

              <article class="media">
                <figure class="media-left">
                  <p class="image is-48x48">
                    <img src="https://bulma.io/images/placeholders/96x96.png" alt="{{user_name}}">
                  </p>
                </figure>
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong>Sean Brown</strong>
                      <br> Donec sollicitudin urna eget eros malesuada sagittis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam blandit nisl a nulla sagittis, a lobortis leo feugiat.
                      <br>
                      <small><a>Like</a> · <a>Reply</a> · <a>Boost</a> · <i class="fa fa-ellipsis-h" aria-hidden="true"></i> · 2 hrs</small>
                    </p>
                  </div>

                  <article class="media">
                    Vivamus quis semper metus, non tincidunt dolor. Vivamus in mi eu lorem cursus ullamcorper sit amet nec massa.
                  </article>

                  <article class="media">
                    Morbi vitae diam et purus tincidunt porttitor vel vitae augue. Praesent malesuada metus sed pharetra euismod. Cras tellus odio, tincidunt iaculis diam non, porta aliquet tortor.
                  </article>
                </div>
              </article>

              <article class="media">
                <figure class="media-left">
                  <p class="image is-48x48">
                    <img src="https://bulma.io/images/placeholders/96x96.png" alt="{{user_name}}">
                  </p>
                </figure>
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong>Kayli Eunice </strong>
                      <br> Sed convallis scelerisque mauris, non pulvinar nunc mattis vel. Maecenas varius felis sit amet magna vestibulum euismod malesuada cursus libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                      Curae; Phasellus lacinia non nisl id feugiat.
                      <br>
                      <small><a>Like</a> · <a>Reply</a> · <a>Boost</a> · <i class="fa fa-ellipsis-h" aria-hidden="true"></i> · 2 hrs</small>
                    </p>
                  </div>
                </div>
              </article>
            </div>
          </article>
          <!-- End sample conversation -->

          <article class="media">
            <!-- Begin reply box -->
            <figure class="media-left">
              <p class="image is-64x64">
                <img src="https://bulma.io/images/placeholders/128x128.png" alt="{{user_name}}">
              </p>
            </figure>
            <div class="media-content">
              <div class="field">
                <p class="control">
                  <textarea class="textarea" placeholder="Add a comment..."></textarea>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <button class="button">Reply</button>
                </p>
              </div>
            </div>
          </article>
          <!-- End reply box -->

        </div>
      </section>
    </div>
  </div>
</body>
<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <a href="termsofservice.html" class="footer_box">Terms of Service</a>
      <span class="vertical_line" />
      <span class="footer_box">Copyright - 2017</span>
      <span class="vertical_line" />
      <a href="https://github.com/BanjoFox/aardwolf" class="footer_box">Check us out on <i class="fa fa-lg fa-github"></i></a>
      <span class="vertical_line" />
      <a href="https://www.patreon.com/banjofox" class="footer_box">Buy Banjo a <span class="fa fa-beer"aria-hidden="true"></span></a>
    </div>
  </div>
</footer>

</html>
