<footer class="footer">
  <div class="container">
	<div class="content has-text-centered">
		<a href="termsofservice.html" class="footerBox">Terms of Service</a>
		<span class="verticalLine"/>
		<span class="footerBox">Copyright - 2017</span>
		<span class="verticalLine" />
		<a href="https://github.com/BanjoFox/aardwolf" class="footerBox">Check us out on <i class="fa fa-lg fa-github"></i>!</a>
		<span class="verticalLine" />
		<a href="https://www.patreon.com/banjofox" class="footerBox">Buy Banjo a <span class="fa fa-beer"aria-hidden="true"></span></a>		
	</div>
  </div>
</footer>
