<!doctype html>
<html>
<body>
<h1>Sign Up</h1>
<form method="POST" action="/auth">
    <input type="hidden" name="csrf_token" value="{{ token }}">
    <input type="text" name="username" id="username" placeholder="Username">
    <input type="email" name="email" id="email" placeholder="E-mail address">
    <input type="password" name="password" id="password" placeholder="Password">
    <input type="password" name="password_confirmation", id="password_confirmation" placeholder="Confirm password">
    <button>Sign Up</button>
</form>
</body>
</html>
