<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fedibook - Create Account</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
  </head>
  <body>
  <!-- Does Bulma even understand "semantic web" stuff? Let's find out! -->
  <!-- Begin Page Header -->
  <header>
    <h2 class="title">Fedibook (Codename: Gojira)</h2>
    <div style="text-align: right">
    <a href="login.html">Have an Account? - Login</a>
    </div>
  </header>
  <!-- End Page Header -->
  <section class="section">
    <div class="container">
      <h1 class="title">
        About Fedibook
      </h1>
      <p class="subtitle">
        This is what <strong>Codename: Gojira</strong> is all about!
      </p>
		<p>Spicy jalapeno bacon ipsum dolor amet strip steak ground round beef ribs pork belly fatback, t-bone bresaola flank pancetta. Salami jerky short loin, doner pig picanha kielbasa beef ribs bacon pork belly turkey turducken venison ball tip brisket. Biltong chuck ball tip, swine flank alcatra t-bone. Filet mignon salami pork chop, short ribs tenderloin t-bone swine pig pork pork belly. Strip steak fatback pastrami pork belly shankle pork chop tail kevin picanha corned beef jerky. Meatloaf pork belly pig pancetta, jerky prosciutto bacon sausage turducken frankfurter. Capicola boudin kielbasa, shoulder leberkas ham hock pastrami tongue chuck sirloin.</p>

		<p>Ham beef spare ribs beef ribs bresaola sirloin rump sausage short ribs hamburger pork loin short loin salami jerky pork. Leberkas ball tip tri-tip, cow tenderloin tail andouille burgdoggen kevin corned beef ribeye beef ribs fatback. Alcatra doner drumstick tri-tip, ham chicken capicola frankfurter pork chop meatball porchetta ribeye. Ham hock corned beef t-bone sausage andouille doner flank hamburger shank cupim short loin boudin bacon ribeye ham.</p>
    </div>
  </section>
    <section class="section">
    <div class="container">
      <h1 class="title">
        Create an Account
      </h1>
      <p class="subtitle">
        Feel free to sign up!
      </p>
	  This is a much improved form, and I know it. - Banjo
	  
	  <form method="POST" action="/auth">
		<input type="hidden" name="csrf_token" value="{{ token }}">
		<span class="icon icon-user"></span>
		<input type="text" name="username" id="username" placeholder="username@fedibook.social">
		<span class="icon icon-envelope"></span>
		<input type="email" name="email" id="email" placeholder="E-mail address">
		<span class="icon icon-lock"></span>
		<input type="password" name="password" id="password" placeholder="Password">
		<span class="icon icon-lock"></span>
		<input type="password" name="password_confirmation", id="password_confirmation" placeholder="Confirm password">
		<button>Sign Up</button>
	  </form>
    </div>
  </section>
  </body>
  <!-- Does Bulma even understand "semantic web" stuff? Let's find out! -->
  <!-- Begin Page Footer -->
	{{ footer }}
  <!-- End Page Footer -->
</html>