@(title: &str)

<script src="/web/javascript/vue.2.5.20.min.js"></script>
<script src="/web/javascript/components/notificationBox.js"></script>
<script>
  new Vue({
    el: "#app",
    data: {
      showNotificationBox: false
    },
    methods: {
      toggleNotifCompView: function() {
        console.log('calling tNCV');
        this.showNotificationBox = !this.showNotificationBox;
      }
    }
  })
</script>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>@title</title>
  <link rel="stylesheet" href="/web/css/fork-awesome-1.1.7/css/fork-awesome.min.css">
  <link rel="stylesheet" href="/web/css/bulma-0.7.5/css/bulma.min.css">
  <link rel="stylesheet" href="/web/css/base.css">
  <link rel="stylesheet" href="/web/css/scratchpad.css">
  <!-- Component styles -->
  <link rel="stylesheet" href="/web/css/components/notificationBox.css">
</head>