@use rocket_i18n::i18n;

@use crate::{Shortcuts, templates::ui::icon};

@(shortcuts: &Shortcuts)

<aside class="menu">
    <a href="@shortcuts.profile_link">@shortcuts.username</a>
    <ul class="menu-list">
        <li><a aria-hidden="true">@:icon("newspaper-o") @i18n!(shortcuts.catalog, "News feed")</a></li>
        <li><a aria-hidden="true">@:icon("envelope") @i18n!(shortcuts.catalog, "Messages")</a></li>
    </ul>
    <p class="menu-label">
    <span class="fa fa-star" aria-hidden="true">@:icon("star") @i18n!(shortcuts.catalog, "Shortcuts")</span>
    </p>
    <ul class="menu-list">
        <li><a aria-hidden="true">@:icon("calendar") @i18n!(shortcuts.catalog, "Calendar")</a></li>
        <li><a aria-hidden="true">@:icon("users") @i18n!(shortcuts.catalog, "Groups")</a></li>
        <li><a aria-hidden="true">@:icon("list") @i18n!(shortcuts.catalog, "Lists")</a></li>
        <li><a aria-hidden="true">@:icon("picture-o") @i18n!(shortcuts.catalog, "Photos")</a></li>
        <li><a aria-hidden="true">@:icon("bookmark") @i18n!(shortcuts.catalog, "Favorites")</a></li>
        <li><a aria-hidden="true">@:icon("cloud") @i18n!(shortcuts.catalog, "Weather")</a></li>     
    </ul>
    <p class="menu-label">
    <span class="fa fa-lightbulb-o" aria-hidden="true">@:icon("lightbulb-o") @i18n!(shortcuts.catalog, "Create")</span>
    </p>
    <ul class="menu-list">
        <li><a aria-hidden="true">@:icon("calendar-plus-o") @i18n!(shortcuts.catalog, "New Event")</a></li>
        <li><a aria-hidden="true">@:icon("users") @i18n!(shortcuts.catalog, "New Group")</a></li>
    </ul>
</aside>
