@use aardwolf_types::forms::auth::SignInErrorMessage;
@use gettext::Catalog;
@use rocket_i18n::i18n;

@use crate::templates::base;

@(catalog: &Catalog, csrf: &str, error: Option<SignInErrorMessage>)

@:base(catalog, i18n!(catalog, "Aardwolf | Sign In"), {
<header>
    <h2 class="title">@i18n!(catalog, "Aardwolf Instance")</h2>
    <div style="text-align: right">
        <a href="sign_up">@i18n!(catalog, "Need an Account? - Create one!")</a>
    </div>
</header>
<!-- End Page Header -->
<section class="section">
    <div class="container">

        <div class="columns is-mobile">
            <div class="column">
                <h1 class="title">
                    @i18n!(catalog, "About Aardwolf")
                </h1>
                <p class="subtitle">
                @i18n!(catalog, "This is who we are!")
                </p>
                @i18n!(catalog, "really-long-platform-description")
            </div>
            <div class="column">
                <h1 class="title">
                    @i18n!(catalog, "Login")
                </h1>
                <p class="subtitle">
                @i18n!(catalog, "Welcome back!")
                </p>
                @if let Some(error) = error {
                    <span style="color: red;">@i18n!(catalog, &error.msg)</span>
                }
                <form method="POST" action="/auth/sign_in">
                    <input type="hidden" name="csrf_token" value="@csrf">
                    <input type="email" name="email" id="email" placeholder="E-mail address">
                    <input type="password" name="password" id="password" placeholder="Password">
                    <button>@i18n!(catalog, "Log In")</button>
                </form>
            </div>
        </div>
    </div>
</section>
})
