<footer class="footer">
  <div class="container">
	<div class="content has-text-centered">
		<a href="termsofservice.html" class="footerBox">{{ terms }}</a>
		<span class="verticalLine"/>
		<span class="footerBox">{{ copyright }}</span>
		<span class="verticalLine" />
		<a href="https://github.com/BanjoFox/aardwolf" class="footerBox"> {{ github }}<i class="fab fa-github"></i>!</a>
		<span class="verticalLine" />
		<a href="https://www.patreon.com/banjofox" class="footerBox">{{ donate }}<span class="fas fa-beer"aria-hidden="true"></span></a>		
	</div>
  </div>
</footer>
